
<h2><%= @beer_club.name %>, <%= @beer_club.city %></h2>
<p>Founded <%= @beer_club.founded %></p>


<p>Members:</p>
<% @beer_club.memberships.confirmed.each do |user| %>
    <ul>
        <li><%= link_to user.member, user.user %></li>
    </ul>
<% end %>

<p>Outstanding applications:</p>
<% @beer_club.memberships.not_confirmed.each do |user| %>
    <ul>
      <li><%= link_to user.member, user.user %>
        <% if current_user_confirmed_member %>
            <%= link_to 'confirm member', confirm_member_membership_path(user.id), method: :post, class: "btn btn-primary" %>
        <% end %>
      </li>
    </ul>
<% end %>
<br/>

<% if current_user and current_user_is_not_member%>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club" %>
    <% end %>
<% end %>

<% if current_user and !current_user_is_not_member %>
    <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value: "end the membership" %>
    <% end %>
<% end %>
<br/>


<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
