<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<% if @user.ratings.empty? %>
    hasn't rated anything!
<% else %>
    Has <%=  pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
<% end %>
</br>

<% if not @user.memberships.empty? %>
    <p>Membership with: </p>
    <ul>
      <% @user.memberships.each do |membership| %>
          <li><%= link_to membership.name_of_beer_club, beer_club_path(:id => membership.bc_id) %></li>
      <% end %>
    </ul>
<% end %>


<% if not @user.ratings.empty? %>
  <p>Ratings: </p>
    <ul>
      <% @user.ratings.each do |rating| %>
          <li><%= rating %>
          <% if @user == current_user %>
             <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %></li>
          <% end %>
      <% end %>
    </ul>

<% end %>

<% if @user == current_user %>
   <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
   <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
